.notion-center,
.notion-title-center .notion-title {
  text-align: center;
}

.notion {
  font-family: var(--chakra-fonts-body);
}

.notion > * {
  padding: unset;
}

.notion-app {
  background: unset;
  min-height: unset;
}

.notion-viewport {
  display: none;
}

.notion-header {
  display: none;
}

.notion-page-scroller {
  min-height: unset;
}

.notion-page-cover {
  border-radius: var(--chakra-radii-3xl);
  box-shadow: var(--chakra-shadows-md);
}

.notion-page {
  width: var(--chakra-sizes-full);
  padding-right: unset;
  padding-bottom: unset;
  padding-left: unset;
}

.notion-callout {
  text-align: left;
}

.notion-text {
  line-height: 1.75;
  padding: unset;
  margin-top: 1.25em;
}

.notion-collection-card {
  background: var(--chakra-colors-gray-700);
}

.notion-collection-card:hover {
  background: var(--chakra-colors-gray-600);
}

.notion-collection-card-cover {
  border-bottom: unset;
}

.notion-collection-card-body {
  display: none;
}

.notion-table-of-contents-item {
  font-size: unset;
}

.notion-table-of-contents-item:first-child {
  display: none;
}
